.BuyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    & button{
        margin-top: 20px;
        padding: 5px 10px;
    }
}

.InputField {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:not(:first-of-type){
    margin-top: 15px;
  }
  & input {
    border: 1px solid black;
    padding: 3px;
  }
}

.InputError{
  position: absolute;
  top: 100%;
  font-size: 12px;
  color: red;
}
