.Product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  .Favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .imageWrapper {
    width: 90%;
    margin-bottom: 10px;
    align-self: center;
    img {
      width: 100%;
    }
  }
  button {
    margin-top: 10px;
  }
  h3 {
    text-decoration: underline;
  }
}

.Basket{
  position: relative;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  .Favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .imageWrapper {
    width: 150px;
    margin-bottom: 10px;
    align-self: center;
    img {
      width: 100%;
    }
  }
  .Info
  button {
    margin-top: 10px;
    margin-left: 10px;
  }
  h3 {
    text-decoration: underline;
  }
}
